<div class="container">
    <div class="contact-container">
            <h1>
                contact Container
            </h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse quod reprehenderit asperiores sit molestiae sapiente molestias ex, corporis voluptatum numquam, doloremque perspiciatis? Ex, ad deserunt! Consequuntur in, dolore totam repudiandae quia error, incidunt qui aut voluptates corrupti temporibus cumque sequi commodi quas labore voluptas vero? Debitis sint aut magnam sequi!</p>
            <img src="https://images.pexels.com/photos/235986/pexels-photo-235986.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" width="500px" height="500px">
    </div>
</div>
