<header>
    <nav class="body"><br>
      <ul class="nav nav-tabs">
        <button class="btn btn-primary font-white"><a class="nav-link " routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">home</a></button>
        <button class="btn btn-danger"><a class="nav-link" routerLink="/about">about</a></button>
        <button class="btn btn-dark"><a class="nav-link" routerLink="contact">contact</a></button>
      </ul>
    </nav><br><br>
</header>
<router-outlet></router-outlet>